/* Basic Styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 500px; /* Limit the width of the entire body */
    margin: 0 auto;
    min-height: 100vh;
    margin-left: -100px;
    font-family: sans-serif;  /* Center the body horizontally */
}

header,
.sidebar {
    background-color: #fff;
    padding: 15px; 
    max-width: 250px;
    margin-left: 250px; /* Consistent margin for both elements */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items,
.settings-items { /* Combined styles for both lists */
    list-style: none;
    padding: 0; /* Remove default padding */
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-items li {
    margin-right: 20px;
}

.back-and-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}



header h2 {
    margin: 0;
    font-size: 18px;
    margin-right: 250px; /* Maintain consistent spacing */
    color: #413f3f;
}

.icons {
    display: flex;
    gap: 5px;
}

.icons img:hover {
    transform: scale(1.1); 
}

header button img,
.icons img {  
    max-width: 18px; /* Reduced image size */
    height: auto;  /* Maintain aspect ratio */
}

.sidebar {
    background-color: #fff;
    width: 250px;
    padding: 20px;
}

.menu-items li:hover {
    color: #101111;
    cursor: pointer;
    text-decoration: underline; 
}

.settings-items li {
    margin-bottom: 15px;
}

.menu-items li.active { 
    border-bottom: 2px solid #000000; 
    text-decoration: underline; 
}

.fashion {
    margin: 0; 
    padding: 15px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.fashion img {
    /* Adjust margin and size as needed */
    max-width: 590px; /* Make image responsive within its container */
    height: auto; ;
    display: block; /* Prevents image from overflowing container */
    margin-top: -14px;
    margin-left: 200px;
}