/* Basic Styling */
body {
    font-family: sans-serif;
}

header,
.sidebar {
    background-color: #fff;
    padding: 15px; 
    max-width: 250px;
    margin-left: 250px; /* Consistent margin for both elements */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items,
.settings-items { /* Combined styles for both lists */
    list-style: none;
    padding: 0; /* Remove default padding */
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-items li {
    margin-right: 20px;
}

.back-and-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

header button img {
    width: 24px;
    height: auto;
}

header h2 {
    margin: 0;
    font-size: 18px;
    margin-right: 250px; /* Maintain consistent spacing */
    color: #413f3f;
}

.icons {
    display: flex;
    gap: 5px;
}

.icons img {
    width: 24px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

.icons img:hover {
    transform: scale(1.1); 
}

.sidebar {
    background-color: #fff;
    width: 250px;
    padding: 20px;
}

.menu-items li:hover {
    color: #007bff;
    cursor: pointer;
}

.settings-items li {
    margin-bottom: 15px;
}
